.pageTitle {
    font-size: 40px;
    font-weight: light;
    background-color: rgb(65, 65, 65);
    color: whitesmoke
}

#cityName {
    color: white;
    background-color: rgb(51, 175, 247);
}

#weatherToday {
    background-color: white;
    min-height: 200px;
}

.days {
    background-color: rgb(51, 175, 247);
    min-height: 150px;
}

.white {
    background-color: white;
}

.green {
    background-color:rgb(62, 236, 62);
}

.yellow {
    background-color: yellow;
}

.red {background-color: red;}